/* Основной стиль для подвала */
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Адаптивные колонки */
  gap: 4rem;
  background-color: #f1f3f9; /* Светло-серый фон */
  color: black;
  padding: 7rem 15vw;
  border-top: 0.1rem solid #dcdcdc;
  font-size: 1rem;
  word-spacing: 0.15rem;
}

.footer-section h3 {
  font-size: 1.5rem;
  color: #006837;
  margin-bottom: 1.5rem;
  word-spacing: 0.2rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin: 1.5rem 0;
}

.footer-section a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
  font-size: 0.9rem;
  word-spacing: 0.1rem;
}

.footer-section a:hover {
  color: #006837;
}

.footer-section p {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #444;
  word-spacing: 0.15rem;
}

.footer-section p strong {
  font-weight: bold;
  font-size: 1rem;
  color: black;
}

/* Адаптивность для мобильных */
@media (max-width: 48rem) {
  .footer {
    padding: 5rem 10vw;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-section h3 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  .footer-section a {
    font-size: 0.85rem;
  }

  .footer-section p {
    font-size: 0.85rem;
  }
}
